.container{
    margin-bottom: 100px;
}
.orang-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 10px;
}
.cat1{
    background: linear-gradient(45deg, #fa0362, #bdb8b7 );
}
.cat2{
    background: linear-gradient(45deg, rgb(8, 92, 92), #f8f5f5 );
}
.cat3{
    background: linear-gradient(45deg, green, #f5e2de);
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px ;
    box-shadow: 5px 5px 10px lightgray; 
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Subscribe{
    height: 300PX;
}
#Subscribe h6 {
    color: gray;
}
footer{
    text-align: center;
}